<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MediaLibrary.DAL.Properties.Settings.catalogConnectionString"
      connectionString="Data Source=DAVEXPLAPTOP;Initial Catalog=catalog;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Catalog.Connection"
         value="server=(local);database=catalog;Trusted_Connection=true" />
  </appSettings>
</configuration>